#spaces {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.space {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

#s1, #s4, #s7 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}