.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr 6fr 1fr / 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    " . message ."
    "player1 gameboard player2"
    "footer footer footer";
}

.header {
    grid-area: header;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.gameboard {
    grid-area: gameboard;
    display: grid;
}

.message {
    grid-area: message;
}

.footer {
    grid-area: footer;
}


#spaces {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.space {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

#s1, #s4, #s7 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}